<div class="row">
  <div class="flex"></div>
  <div class="flex x2">
    <div class="panel">
      <h1>
        Title logo
        <span class="pull-right">
          <button class="basic-btn" ng-click="vm.goToCreateDeck()">Create a deck</button>
        </span>
      </h1>
      <br/>

      <span ng-if="vm.decks.length>0">
        <b>Decks</b>
        <p>Double tap a deck to play</p>
        <ul class="panel-list">
          <li class="panel-list-item pointer" ng-repeat="deck in vm.decks" ng-click="vm.selectDeck(deck)" ng-dblclick="vm.selectDeck(deck); vm.goToBoard()">
            {{deck.deckName}}
          </li>
        </ul>
        <br/>
        <button class="basic-btn" ng-click="vm.goToBoard()">play</button>
      </span>

    </div>
  </div>
  <div class="flex"></div>
</div>
