.summonsickness:after{
  content: 'Z';
  top:-15px;
  right:5px;
  position: absolute;
  font-weight: bolder;
  color: lime;
  animation: snooze 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes snooze {
  from {
    transform: scale(0,0);
  }
  to {
    transform: scale(1,1);
    margin-top: -20px;
    margin-right: -10px;
  }
}

.card{
  background: var(--card-base);
  height: 300px;
  margin:var(--spacer);
  width: 230px;
  color: var(--card-tc);
  position: relative;
  cursor: pointer;
}

.card:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px cyan;
}

.stats{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

.stats span{
  display: flex;
}
