<div class="overlay animate-show" ng-show="vm.state.mulligan">
  <div class="row">
    <div class="flex">
      <div class="panel relative">
        <h1 class="panel-header">
          Starting Hand - Keep or Replace Cards
        </h1>
        <div class="row">
          <div class="flex">
            <div class="row-fluid dense">
              <div class="flex-fluid" ng-repeat="card in vm.player.startingHand track by $index">
                <card info="card" ng-click="vm.replaceCardMulligan(card, $index)"></card>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="flex" style="text-align:right;">
            <button class="basic-btn" ng-click="vm.confirmMulligan()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="basic-btn" ng-click="vm.quitGame()">Quit</button>


<div class="row enemy-hand">
  <div class="flex" ng-repeat="card in vm.player.hand track by $index">
    <card info="card"></card>
  </div>
</div>
<div class="board">
  <div class="row board-area">
    <!-- enemy-board -->
  </div>
  <div class="row board-area">
    <!-- player board -->
  </div>
</div>
<div class="row my-hand">
  <div class="flex" ng-repeat="card in vm.player.hand track by $index">
    <card info="card"></card>
  </div>
</div>

<!-- <div class="row">
<div class="flex x3">


<div class="panel border">
<div class="row" ng-if="vm.state.running">
<div class="flex">
<h3>Your Hand</h3>
<div class="row-fluid">

</div>
</div>
</div>


</div>
</div>
</div> -->