
:root{
  --animation: all 0.3s cubic-bezier(.25,.8,.25,1);
  --spacer: 1rem;
  --body-base: #181724;

  --counter-size: 20px;
  --avatar-shape: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

  /*colors*/
  --panel-base: white;
  --panel-tc: black;

  --card-base: #202B3F;
  --card-desc-base: #53646C;
  --card-desc-tc: white;

  --ribbon-color: #708784;
  --ribbon-tc: white;

  --ap-stat: #9BBC97;

  --able-color: cyan;
  --ready-color: #bada55;

  /*shadows*/
  --level1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --level2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --level3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --level4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --level5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  --depth1: inset 0px 7px 8px 5px rgba(0,0,0,0.51);
}

/*Quick start body*/

html{
  height: 100%;
}

body {
  /*background: radial-gradient(#333333, #111111);*/
  background: var(--body-base) center center fixed;
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  font-size: 18px;
}

.pull-right{
  float:right;
}

.center-margin{
  margin:0 auto;
}

.center{
  text-align: center;
}

.nowrap{
  flex-wrap: nowrap!important;
}

/*flex*/
.flex{
  flex-basis: 100%;
}

.x3{
  flex-basis: 50%!important;
}

.x2{
  flex-basis: 25%!important;
}

@media screen and (min-width: 768px) {
  .row {
    display: flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1;
    -ms-flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .row {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .flex {
    flex: 1 1 auto;
  }
  .row-fluid{
    grid-template-columns: repeat(auto-fill, minmax(100%, auto))!important;
  }
}

.row-fluid {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(auto-fill, minmax(33%, auto));
}
.flex-fluid{
  padding: $full-padding;
}

.dense{
  grid-template-columns: repeat(auto-fill, minmax(19%, auto));
}

h1,h2,h3{
  margin:5px;
}

ul{
  padding: 0;
  margin:0;
}

li{
  list-style: none;
}

.input{
  background: #333;
  padding: 0.5rem;
  color: #999;
  border:none;
}

.panel {
  background: var(--panel-base);
  border-radius: 2px;
  margin: var(--spacer);
  padding: var(--spacer);
  box-shadow: var(--level1);
  transition: var(--animation);
  color: var(--panel-tc);
}

.border{
  margin:25px 1px;
  box-shadow: var(--levle2);
  border: 50px solid transparent;
  min-height: 200px;
  border-image: url('/card/img/frame.png');
  border-image-slice: 90;
  background: #333;
  color: white;
  border-radius: 40px;
  padding: 0!important;
}

.basic-btn{
  outline:none;
  padding: 0.5rem var(--spacer);
  margin: 5px;
  background: gray;
  border: 5px outset gray;
  color: white;
  cursor: pointer;
}

.deck-list{
  border: 1px solid goldenrod;
}

.deck-list-item{
  color: goldenrod;
  outline: 1px solid goldenrod;
  outline-offset: -10px;
  padding: 0.5rem var(--spacer);
  background: #6e5e52;
  text-transform: capitalize;
  border: 5px outset #6e5e52;
  cursor: pointer;
}
